[submodule "/home/rafael-m/Documents/42/ft_printf/libft2"]
	path = /home/rafael-m/Documents/42/ft_printf/libft2
	url = git@vogsphere-v2.42madrid.com:vogsphere/intra-uuid-f1b4ddc3-d812-43ab-8571-996c3a3ecd2e-6516843-rafael-m
